h1, h2, h3, h4, h5, h6 {
  font-family:          'Noto Serif', 'Serif';
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

body {
  font-family:			'Noto Serif', 'Helvetica';
  /*background-image:	url('halftone-yellow/halftone-yellow.png');*/
  background-color:		#fff;
  color:				#000;
}

.col {
	height:			100%;
 	margin-bottom:		1em;
}

.card {
 	background-color:		#486824;
 	color:				#f2c057;
 	border-width:		1px;
	margin-top:		15px;
	min-height:		100%;
}

.card-text {
	margin-bottom: 	1em;
}

.card-header{
  background-color:		#314D10;
}

.card_holder {
	min-height:		100%;
	height:			100% !important;
}

.jumbotron {
    background-color:	inherit;
    color:			#f2c057;
    text-align:		left;
    border-radius:		0px;
}

.navbar{
	color:			#fff;
	font-size:		12px;
	line-height:		1.42857143;
	letter-spacing:	2px;
	/*height:			2em;*/
}

.jumbotron {
	/*height:			1.25em;*/
	margin-bottom: 	0;
	font-size:		3em;
}

#fancy {
	text-align:		center;
	height:			100vh;
	background-color:	#efefef;
}
/*
COLOR THEME FROM HEREONOUT
4c3f54  - Fig (Grey)
  -
d13525  - Apple Red
  -
f2c057  - Yellow Swiss
  -
486824  - Basil (Green)
  -
*/
